    * {
        margin: 0;
        padding: 0
    }
    
    body {
        font-size: 12px;
        font-family: "微软雅黑", "微软雅黑", "黑体";
    }
    
    ul,
    li {
        list-style: none;
    }
    
    a:link,
    a:visited {
        text-decoration: none;
    }
    
    .warp {
        width: 840px;
        height: 550px;
        margin: 0 auto;
        position: relative;
        background: #EAEAF6;
        border: 1px solid #000;
        overflow: hidden;
    }
    
    .warp h1 {
        height: 50px;
        line-height: 50px;
        font-family: "黑体";
    }
    
    .warp h2 {
        height: 40px;
        line-height: 40px;
        font-family: "黑体";
    }
    
    .warp p {
        line-height: 18px;
        text-indent: 2em;
        padding: 2px 0;
    }
    
    .warp p strong {
        font-size: 14px;
        font-weight: bold;
    }
    
    .warp .menu_list {
        width: 80px;
        height: 35px;
        color: #fff;
        text-align: center;
        line-height: 35px;
        background: #00acac;
        position: absolute;
        right: 32px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        top: 2px;
        border-radius: 5px;
    }
    #loadpdf{
        position: absolute;
        width:80px;
        height: 35px;
        top: 2px;
        right: 118px;
        border-radius: 5px;
        background: #00acac;
        color:#fff;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        text-decoration: underline;
    }
    .warp .menu_show {
        right: 5px;
    }
    
    .list {
        position: absolute;
        top: 40px;
        right: -100%;
        width: 226px;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;
        background: #4a555e;
        border-bottom: solid 1px #316a91;
        transition: all .5s ease-in-out;
    }
    
    .list ul li {
        background-color: #4a555e;
        border-bottom: 0;
    }
    
    .list ul li a:hover {
        background: #00acac;
    }
    
    .list ul li a {
        padding-left: 10px;
        color: #fff;
        font-size: 12px;
        display: block;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        position: relative;
    }
    
    .list ul li .inactive {
        background: url(images/off.png) no-repeat 190px center;
    }
    
    .list ul li .inactives {
        background: url(images/on.png) no-repeat 190px center;
    }
    
    .list ul li ul {
        display: none;
    }
    
    .list ul li ul li {
        border-left: 0;
        border-right: 0;
        background-color: #242e37;
    }
    
    .list ul li ul li ul {
        display: none;
    }
    
    .list ul li ul li a {
        padding-left: 20px;
    }
    
    .list ul li ul li ul li {
        background-color: #1a2229;
    }
    
    .last {
        background-color: #11f6f6;
        border-color: #6196bb;
    }
    
    .list ul li ul li ul li a {
        color: #316a91;
        padding-left: 30px;
    }
    
    .warp .content {
        padding: 20px;
        height: 500px;
        overflow-y: scroll;
    }
    
    .warp .content table {
        border-collapse: collapse;
        width: 90%;
        margin: 10px;
    }
    
    .warp .content table td {
        border: 1px solid #000;
        height: 28px;
        text-indent: .8em;
    }
    
    .warp .content thead th {
        border: 1px solid #000;
        height: 28px;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        text-indent: .8em;
    }
    
    .warp .content .disc li {
        list-style-position: inside;
        list-style-type: disc;
        line-height: 20px;
        text-indent: 2em;
    }
    
    .warp .content .decimal li {
        list-style-position: inside;
        list-style-type: decimal;
        line-height: 20px;
        text-indent: 2em;
    }
    
    .warp .content .img img {
        width: 783px;
        margin: 5px 0;
    }
    
    .warp .content .note {
        font-size: 9px;
        color: #999;
        text-indent: 0;
        text-align: center;
    }
